<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express dev skills</title>
</head>
<body>
        <h1>Editting New Skills</h1>
        <form action="/skills/<%= skillIdx %>?_method=PUT" method="POST" autocomplete="off">
          <input type="text" name="skill" value="<%= skill.skill %>">
          <label> Learn
              <input type="checkbox" name="learn" <%= skill.learn ? 'checked' : '' %>>
          </label>
          <button type="submit">Update NeW Skill</button>
        </form>
</body>
</html>