<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express dev skills</title>
</head>
<body>
    <h1>Skills Learned</h1>
    <ul>
      <% skills.forEach(function(s, idx) { %>
        <li>
          <form action="/skills/<%= idx %>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit">X</button>
          </form>
          <a href="/skills/<%= idx %>"><%= s.skill %></a>
            - 
          <%= s.learn ? 'learn' : 'not learn' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add New-Skills</a>
</body>
</html>